/*@media(max-width:450px){
  h1, h3{
    text-align:center;
  }
  img{
    width:px;
    height:300px;
    overflow:hidden;
    max-height:initial;
    margin-left:-300px;
  }

}

body{
  margin:0px;
}
#qlenfrl::before {
  background-image: url("https://cdn.pixabay.com/photo/2019/08/19/15/13/eiffel-tower-4416700__340.jpg");
  width:100%;
  height:100%;
  opacity:0.5;
  content:"";
  position:absolute;
  z-index:-1;
}*/
html{
  height: 400%;
}
#back{
  background-color:red;
  margin:0px;
  overflow : scroll;
}
#box1{
  width:400px;
  height:400px;
  background-color:yellow;
  position:relative;
}
#box2{
  width:100px;
  height:100px;
  background-color:green;
  position:fixed;
  top:10px;
  right:178px;
}
.box3{
  width:100px;
  height:100px;
  background-color:blue;
  position:absolute;
  right:50px;
}
